body {
    background: url("../image/bg.jpg") no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 4rem;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 3.5rem;
}

h4 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
}

h5 {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
}

p {
    font-family: 'Courgette', cursive;
    font-size: 4rem;
}

.main {

}
