<%- include("header") -%>
<div class="main">
    <div class="box" id="heading">
        <h1> <%= dayName %></h1>
    </div>
    <div class="box">
        <% wishList.forEach(function(wish) { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= wish.name %> </p>
        </div>
        <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" name="wish" placeholder="Add wish">
            <button type="submit" name="button">+</button>
        </form>
    </div>
</div>
<%- include("footer") -%>
